<!DOCTYPE html>
<html>
<head>
    <title>Аккаунт пользователя</title>
    <link href = "../static/css/account.css" rel = "stylesheet" th:href="@{/css/account.css}">
</head>
<body>
<h1>Аккаунт пользователя</h1>

<h2>Информация о пользователе</h2>
<table>
    <tr>
        <th>Имя пользователя:</th>
        <td><p th:text="${user.userName}"></p></td>
    </tr>
    <tr>
        <th>Имя:</th>
        <td><p th:text="${user.firstName}"></p></td>
    </tr>
    <tr>
        <th>Фамилия:</th>
        <td><p th:text="${user.lastName}"></p></td>
    </tr>
    <tr>
        <th>Телефон:</th>
        <td><p th:text="${user.phone}"></p></td>
    </tr>
    <tr>
        <th>Электронная почта:</th>
        <td><p th:text="${user.email}"></p></td>
    </tr>
</table>

<h1>Заказы</h1>

<table>
    <thead>
    <tr>
        <th>Номер заказа</th>
        <th>Пользователь</th>
        <th>Итоговая цена</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.user.userName}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td>
            <table>
                <thead>
                <tr>
                    <th>Название книги</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Общая цена</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderItemCurrent : ${order.orderItem}">
                    <td th:text="${orderItemCurrent.book.name}"></td>
                    <td th:text="${orderItemCurrent.countProduct}"></td>
                    <td th:text="${orderItemCurrent.book.bookPrice}"></td>
                    <td th:text="${orderItemCurrent.totalPrice}"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>